#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

:root {
  --neutral: #666;
  --neutral-dark: #444;
  --neutral-text: white;

  --primary: #247085;
  --primary-dark: #184957;
  --primary-text: white;

  --secondary: #ac65f8;
  --secondary-dark: #6930a7;
  --secondary-text: white;

  --disabled: #ccc;
  --disabled-text: #444;

  --success: #56d33d;
  --success-dark: #399227;
  --success-text: black;
  --warning: #e9cc4b;
  --warning-dark: #b1982c;
  --warning-text: black;
  --error: #bd4646;
  --error-dark: #913d3d;
  --error-text: black;

  --em-gray: #888;
}